* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

footer,header {
  background-color: #F13A00;
  padding: 20px 10px;
  text-align: center;
  flex: 1;
}

main {
  background-color: #12EC28;
  text-align: center;
  flex: 1;
}


